task.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="task">
    <xs:complexType>
      <xs:all>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="due" type="xs:date" minOccurs="0"/>
        <xs:element name="preview" type="xs:positiveInteger" minOccurs="0"/>
        <xs:element name="recurring" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="completed" type="xs:date"/>
              <xs:element name="duration" type="xs:positiveInteger"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="history" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entry" type="xs:date" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
